.hr-lines {
    position: relative;
    margin-top: 40px;
    text-align: center;
  }
  
  .hr-lines:before,
  .hr-lines:after {
    content: " ";
    height: 2px;
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center the lines vertically */
  }
  
  .hr-lines:before {
    left: 0;
    right: 0; /* Extend the line to the right edge */
  }
  
  .hr-lines:after {
    left: 0; /* Extend the line to the left edge */
    right: 0;
  }
  
  .event-banner {
    height: 50px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the banner horizontally and vertically */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .events{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
 
  