.Dashboard {
    display: flex;
    flex-direction: column;
}

.bigtitle {
    display: block;
    width: 90%;
    height: 70px;
    background-color: #0000;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #000;
    margin: 30px auto;
}

.dashboard-content {
    display: flex;

}

.Main {
    flex: 1;
}

.item-container {
    width: 95%;
    height: 40px;
    background-color: #0000;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.clickable-rectangle {
    display: block;
    width: 250px;
    height: 35px;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 7px ;
}

.title {
    vertical-align: middle;
}

.mediumtitle {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



.menu-container {
    display: block;
    width: 200px;
    border-right: 1px solid #ccc;
    padding-right: 30px;
    margin-bottom: 20px;
}

.bigtitle {
    display: block;
    width: 97%;
    height: 70px;
    background-color: #0000;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    margin: 30px auto;
}

.clickable-rectangle {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-container {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background-color: #00bfff;
    border-radius: 20px;
    margin-left: auto;
    cursor: pointer;
    color: #f0f0f0;
    font-weight: bold;
    text-align: center;
}




