.nav2 {
  background-color: white !important;
  box-shadow: 0 0.3125rem 1.25rem -0.625rem rgba(0, 0, 0, 0.25) !important;
  padding: 0 !important;
  justify-content: center !important;
}

.cont3 {
  margin: calc(0.5 * var(--rem-to-vh)) !important;
  margin-left: calc(1.5 * var(--rem-to-vw)) !important;
  margin-right: calc(1.5 * var(--rem-to-vw)) !important;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.6rem !important;
}

.sidebar {
  background-color: white;
  border-right: calc(0.09375 * var(--rem-to-vw)) solid #d5d5d5;
  height: 84vh;
  min-width: calc(16 * var(--rem-to-vw));
  margin-top: calc(1 * var(--rem-to-vh));
  padding-top: calc(0.5 * var(--rem-to-vh));
  padding-left: calc(1 * var(--rem-to-vw));
  padding-right: calc(1 * var(--rem-to-vw));
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(0.2 * var(--rem-to-vh));
}

.btn-pr-active {
  --btn-pr-active: #46bfff;
  color: white !important;
  background-color: var(--btn-pr-active) !important;
  border-color: var(--btn-pr-active) !important;
}

.btn-pr-active:hover {
  --btn-pr-active: #46bfff;
  background-color: var(--btn-pr-active) !important;
  border-color: var(--btn-pr-active) !important;
}

.btn-pr-active:active {
  --btn-pr-active: #46bfff;
  background-color: var(--btn-pr-active) !important;
  border-color: var(--btn-pr-active) !important;
}

.btn-pr {
  --btn-pr: white;
  color: black !important;
  background-color: var(--btn-pr) !important;
  border-color: var(--btn-pr) !important;
}

.btn-pr:hover {
  --btn-sec: #d5d5d5;
  color: black !important;
  background-color: var(--btn-sec) !important;
  border-color: var(--btn-sec) !important;
}

.btn-pr:active {
  --btn-ter: #c5c5c5;
  color: black !important;
  background-color: var(--btn-ter) !important;
  border-color: var(--btn-ter) !important;
}

.sidebar .sidebar-item {
  text-align: start;
  color: black;
  height: calc(2.2 * var(--rem-to-vh));
  position: relative;
  display: flex;
  flex-direction: row;
  gap: calc(0.8 * var(--rem-to-vw));
  align-items: center;
  padding-left: calc(1.5 * var(--rem-to-vw));
  border-radius: 0.5rem !important;
}

.row2 {
  width: 100vw;
}

.col2 {
  height: 84vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: calc(0.5 * var(--rem-to-vh));
  margin-top: calc(1 * var(--rem-to-vh)) !important;
  padding-top: calc(0.4 * var(--rem-to-vh));
}

.entity {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 0.125rem solid #c5c5c5;
  border-radius: 0.625rem;
  margin-left: calc(2.5 * var(--rem-to-vw));
  padding: calc(1.1 * var(--rem-to-vh));
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

.btn-pr2 {
  --btn-pr2: #46bfff;
  background-color: var(--btn-pr2) !important;
  border-color: var(--btn-pr2) !important;
  width: calc(12 * var(--rem-to-vw));
  color: white !important;
  border-radius: 0.4rem !important;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25);
}

.btn-pr2:hover {
  --btn-sec2: #21b1ff;
  background-color: var(--btn-sec2) !important;
  border-color: var(--btn-sec2) !important;
}

.btn-pr2:active {
  --btn-ter2: #0eabff;
  background-color: var(--btn-ter2) !important;
  border-color: var(--btn-ter2) !important;
}

.rb {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(1.5 * var(--rem-to-vw));
}

.table-entity,
.table-entity-add {
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0.125rem solid #c5c5c5;
  border-radius: 0.625rem;
  margin-left: calc(2.5 * var(--rem-to-vw));
  padding: calc(1.1 * var(--rem-to-vh));
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

.table-entity {
  gap: calc(1 * var(--rem-to-vw));
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.table-entity-add {
  gap: calc(2 * var(--rem-to-vw));
  align-items: start;
  justify-content: start;
  max-height: calc(31.25 * var(--rem-to-vh));
  padding-bottom: calc(0.5 * var(--rem-to-vh));
  overflow-y: auto;
}

.header {
  width: 100%;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table-table {
  width: 100%;
  overflow-y: auto;
  max-height: calc(20 * var(--rem-to-vh));
}

.table-table table {
  width: 100%;
  border-collapse: collapse;
}

.table-table thead {
  position: sticky;
  top: 0;
}

.table-table th:last-child,
td:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: calc(1.1 * var(--rem-to-vh));
}

.table-table th {
  font-weight: 600;
}

.table-table tr td {
  line-height: 2;
}

.table-table tr:last-child td {
  border-bottom: none;
}

.modify {
  display: flex;
  flex-direction: row;
  gap: calc(0.2 * var(--rem-to-vw));
}

.btn-edit {
  --btn-edit: #46bfff;
  background-color: var(--btn-edit) !important;
  border-color: var(--btn-edit) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
  height: calc(2 * var(--rem-to-vh));
  border-radius: 0.2rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

.btn-edit:hover {
  --btn-edit-sec: #21b1ff;
  background-color: var(--btn-edit-sec) !important;
  border-color: var(--btn-edit-sec) !important;
}

.btn-edit:active {
  --btn-edit-ter: #0eabff;
  background-color: var(--btn-edit-ter) !important;
  border-color: var(--btn-edit-ter) !important;
}

.btn-delete {
  --btn-delete: #ff2f2f;
  background-color: var(--btn-delete) !important;
  border-color: var(--btn-delete) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
  height: calc(2 * var(--rem-to-vh));
  border-radius: 0.2rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

.btn-delete:hover {
  --btn-delete-sec: #ff1919;
  background-color: var(--btn-delete-sec) !important;
  border-color: var(--btn-delete-sec) !important;
}

.btn-delete:active {
  --btn-delete-ter: #ff0b0b;
  background-color: var(--btn-delete-ter) !important;
  border-color: var(--btn-delete-ter) !important;
}

.table-bar1,
.table-bar2,
.table-bar3 {
  display: flex;
  align-self: flex-end;
}

.table-bar1 input,
.table-bar2 input,
.table-bar3 input {
  border: 0.125rem solid #46bfff;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: calc(0.3 * var(--rem-to-vh));
}

.table-bar1 input {
  width: calc(11 * var(--rem-to-vw));
}

.table-bar2 input {
  width: calc(16 * var(--rem-to-vw));
}

.table-bar3 input {
  width: calc(14 * var(--rem-to-vw));
}

.table-bar1 input:focus,
.table-bar2 input:focus,
.table-bar3 input:focus {
  outline: none;
}

.table-bar1 div,
.table-bar2 div,
.table-bar3 div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46bfff;
  color: white;
  border: 0.125rem solid #46bfff;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: calc(0.5 * var(--rem-to-vh));
}

.btn-add1,
.btn-add2,
.btn-add3 {
  --btn-add: #46bfff;
  background-color: var(--btn-add) !important;
  border-color: var(--btn-add) !important;
  display: flex !important;
  align-self: flex-end;
  justify-content: center !important;
  align-items: center !important;
  margin-top: calc(0.3 * var(--rem-to-vh));
  margin-right: calc(2 * var(--rem-to-vw));
  color: white !important;
  border-radius: 0.2rem !important;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25);
}

.btn-add1:hover,
.btn-add2:hover,
.btn-add3:hover {
  --btn-add-sec: #21b1ff;
  background-color: var(--btn-add-sec) !important;
  border-color: var(--btn-add-sec) !important;
}

.btn-add1:active,
.btn-add2:active,
.btn-add3:active {
  --btn-add-ter: #0eabff;
  background-color: var(--btn-add-ter) !important;
  border-color: var(--btn-add-ter) !important;
}

.btn-add1 {
  width: calc(7 * var(--rem-to-vw));
}

.btn-add2 {
  width: calc(7.5 * var(--rem-to-vw));
}

.btn-add3 {
  width: calc(8 * var(--rem-to-vw));
}

.no-data {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  margin-top: calc(3 * var(--rem-to-vh));
  margin-bottom: calc(5 * var(--rem-to-vh));
}

.info {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  margin-left: calc(1 * var(--rem-to-vw));
  display: flex;
  flex-direction: column;
  gap: calc(0.5 * var(--rem-to-vh));
}

.info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: calc(12 * var(--rem-to-vw));
}

.info-row input {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  border: 0.125rem solid #d5d5d5;
  padding: calc(0.4 * var(--rem-to-vh)) 0.7rem 0.4rem 0.7rem;
  width: calc(16 * var(--rem-to-vw));
}

.info-row textarea {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  border: 0.125rem solid #d5d5d5;
  padding: calc(0.4 * var(--rem-to-vh)) 0.7rem 0.4rem 0.7rem;
  width: calc(16 * var(--rem-to-vw));
  height: calc(3.9 * var(--rem-to-vh));
  max-height: calc(10 * var(--rem-to-vh));
  min-height: calc(2.5 * var(--rem-to-vh));
}

.info-row select {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  border: 0.125rem solid #d5d5d5;
  padding: calc(0.4 * var(--rem-to-vh)) 1.7rem 0.4rem 0.7rem;
  width: calc(16 * var(--rem-to-vw));
  background: url("data:image/svg+xml,<svg height='0.625rem' width='0.625rem' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  max-height: calc(6.25 * var(--rem-to-vh)) !important;
}

.info-row input:focus,
.info-row textarea:focus,
select:focus {
  outline: none;
  border-color: #46bfff;
}

.info-row input:disabled {
  background-color: #d5d5d5;
  color: black;
}

.info-row input[type="file"] {
  box-shadow: none;
}

.info-row input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.info-row input[type="file"]::file-selector-button {
  display: none;
}

.info-row input[type="file"]:focus {
  outline: none;
  border-color: #d5d5d5;
}

.input-group {
  width: calc(16 * var(--rem-to-vw)) !important;
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.input-group:hover label {
  cursor: pointer;
}

.input-group label {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.7rem 0 0.7rem;
  background-color: #d5d5d5;
  border: 0.125rem solid #d5d5d5;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.info-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(0.2 * var(--rem-to-vw));
  align-self: flex-end;
}

.save-save {
  --btn-save: #46bfff;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
  border-radius: 0.3rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  width: calc(7.9 * var(--rem-to-vw));
}

.save-update {
  --btn-save: #46bfff;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
  border-radius: 0.3rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  width: calc(5.2 * var(--rem-to-vw));
}

.save-save:hover,
.save-update:hover {
  --btn-save: #21b1ff;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
}

.save-save:active,
.save-update:active {
  --btn-save: #0eabff;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
}

.delete {
  --btn-save: #ff2f2f;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
  border-radius: 0.3rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  width: calc(5.2 * var(--rem-to-vw));
}

.cancel-save {
  --btn-save: #ff2f2f;
  background-color: white !important;
  border-color: var(--btn-save) !important;
  color: var(--btn-save) !important;
  border-radius: 0.3rem !important;
  width: calc(7.9 * var(--rem-to-vw));
}

.cancel-update {
  --btn-save: #ff2f2f;
  background-color: white !important;
  border-color: var(--btn-save) !important;
  color: var(--btn-save) !important;
  border-radius: 0.3rem !important;
  width: calc(5.2 * var(--rem-to-vw));
}

.delete:hover {
  --btn-save: #ff1919;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
}

.cancel-save:hover,
.cancel-update:hover {
  --btn-save: #ff1919;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
}

.delete:active {
  --btn-save: #ff0b0b;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
}

.cancel-save:active,
.cancel-update:active {
  --btn-save: #ff0b0b;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
}

.is-loading {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 600;
  color: black;
  margin-top: calc(1.5 * var(--rem-to-vh));
  margin-bottom: calc(5 * var(--rem-to-vh));
}

.tags-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: calc(0.2 * var(--rem-to-vw));
}

.tag {
  width: calc(7.9 * var(--rem-to-vw));
  --tag: #d5d5d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tag);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 0;
  padding-left: calc(0.7 * var(--rem-to-vw));
  overflow: hidden;
}

.tag span {
  line-height: 1.15;
}

.delete-tag {
  height: 100% !important;
  color: black !important;
  font-size: 1rem;
  font-weight: 600;
  border-color: #d5d5d5 !important;
  border-radius: 0 !important;
}

.add-tag {
  width: calc(7.9 * var(--rem-to-vw));
  --tag: #d5d5d5;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: black !important;
  border-color: #d5d5d5 !important;
  background-color: var(--tag) !important;
  border-radius: 0.5rem !important;
}

.tag-save {
  --btn-save: #46bfff;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  width: calc(3.85 * var(--rem-to-vw));
  height: calc(2.5 * var(--rem-to-vh));
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-self: center !important;
}

.tag-save:hover {
  --btn-save: #21b1ff;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
}

.tag-save:active {
  --btn-save: #0eabff;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
}

.tag-cancel {
  --btn-save: #ff2f2f;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  width: calc(3.85 * var(--rem-to-vw));
  height: calc(2.5 * var(--rem-to-vh));
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-self: center !important;
}

.tag-cancel:hover {
  --btn-save: #ff1919;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
}

.tag-cancel:active {
  --btn-save: #ff0b0b;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
}

.delete-tag:hover,
.add-tag:hover {
  --tag: #c5c5c5;
  background-color: var(--tag) !important;
  border-color: var(--tag) !important;
}

.delete-tag:active,
.add-tag:active {
  --tag: #b0b0b0;
  background-color: var(--tag) !important;
  border-color: var(--tag) !important;
  outline: none !important;
}

.delete-tag:focus {
  outline: none !important;
}

.modal-content {
  border: 0.125rem solid #d5d5d5 !important;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25) !important;
}

.modal-title {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: #ff1919 !important;
}

.title2 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: #46bfff !important;
}

.modal-header {
  border-bottom: 0 !important;
}

.modal-body {
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: black !important;
}

.modal-footer {
  border-top: 0 !important;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  gap: calc(0.2 * var(--rem-to-vw)) !important;
}

.modal-confirm {
  --btn-save: #ff2f2f;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
  border-radius: 0.3rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  margin: 0 !important;
}

.modal-confirm-2 {
  --btn-save: #46bfff;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
  border-radius: 0.3rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  margin: 0 !important;
}

.modal-confirm-2:hover {
  --btn-save: #21b1ff;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
  border-radius: 0.3rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  margin: 0 !important;
}

.modal-confirm-2:active {
  --btn-save: #0eabff;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
  border-radius: 0.3rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  margin: 0 !important;
}

.modal-confirm:hover {
  --btn-save: #ff1919;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
}

.modal-confirm:active {
  --btn-save: #ff0b0b;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
}

.modal-cancel {
  --btn-save: #ff2f2f;
  background-color: white !important;
  border-color: var(--btn-save) !important;
  color: var(--btn-save) !important;
  border-radius: 0.3rem !important;
  margin: 0 !important;
}

.modal-cancel:hover {
  --btn-save: #ff1919;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
}

.modal-cancel:active {
  --btn-save: #ff0b0b;
  background-color: var(--btn-save) !important;
  border-color: var(--btn-save) !important;
  color: white !important;
}

.req-entity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(5 * var(--rem-to-vw));
}

.school-card {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  width: calc(20 * var(--rem-to-vw));
  height: calc(12 * var(--rem-to-vh));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.sc-img {
  width: 100%;
  height: calc(10 * var(--rem-to-vh));
}

.sc-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sc-title {
  width: 100%;
  height: calc(2 * var(--rem-to-vh));
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  background-color: #d5d5d5;
  overflow: hidden;
}

.sc-title span {
  margin-left: calc(6 * var(--rem-to-vw));
}

.sc-title-btn {
  display: flex;
  justify-self: flex-end;
}

.fs {
  --btn-fs: #d5d5d5;
  background-color: var(--btn-fs) !important;
  border-color: var(--btn-fs) !important;
  height: 100% !important;
  margin: 0 !important;
  padding-left: calc(0.5 * var(--rem-to-vw)) !important;
  padding-right: calc(0.5 * var(--rem-to-vw)) !important;
}

.fs:hover {
  --btn-fs: #c5c5c5;
  background-color: var(--btn-fs) !important;
  border-color: var(--btn-fs) !important;
}

.fs:active {
  --btn-fs: #b0b0b0;
  background-color: var(--btn-fs) !important;
  border-color: var(--btn-fs) !important;
}

.modal-img-cont .modal-content {
  border: 0 !important;
  border-radius: 0 !important;
}

.modal-img {
  width: fit-content !important;
  height: fit-content !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.modal-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
