.container {
  margin-top: calc(0.8 * var(--rem-to-vh));
  margin-left: calc(12 * var(--rem-to-vw));
  margin-right: calc(12 * var(--rem-to-vw));
  font-weight: 500;
}

.btn-primary {
  --btn-primary: #46bfff;
  background-color: var(--btn-primary) !important;
  border-color: var(--btn-primary) !important;
  border-radius: 0.35rem !important;
}

.btn-primary:hover {
  --btn-secondary: #21b1ff;
  background-color: var(--btn-secondary) !important;
  border-color: var(--btn-secondary) !important;
}

.btn-primary:active {
  --btn-tertiary: #0eabff;
  background-color: var(--btn-tertiary) !important;
  border-color: var(--btn-tertiary) !important;
}

.btn-outline-primary {
  --btn-outline-primary: #46bfff;
  color: var(--btn-outline-primary) !important;
  border-color: var(--btn-outline-primary) !important;
  border-radius: 0.35rem !important;
}

.btn-outline-primary:hover {
  --btn-outline-secondary: #21b1ff;
  color: white !important;
  background-color: var(--btn-outline-secondary) !important;
  border-color: var(--btn-outline-secondary) !important;
}

.btn-outline-primary:active {
  --btn-outline-tertiary: #0eabff;
  color: white !important;
  background-color: var(--btn-outline-tertiary) !important;
  border-color: var(--btn-outline-tertiary) !important;
}

.navbar {
  background-color: white !important;
}

.navbar-nav {
  gap: calc(0.3 * var(--rem-to-vw));
}

.nav-link {
  font-size: 1rem;
}

.active {
  font-weight: 600;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  left: calc(15 * var(--rem-to-vw)) !important;
  top: calc(22.5 * var(--rem-to-vh)) !important;
  right: 0;
  z-index: 2 !important;
  display: flex;
  justify-content: left !important;
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: calc(0.625 * var(--rem-to-vw));
  height: calc(0.625 * var(--rem-to-vh));
  padding: 0;
  margin-right: calc(0.1875 * var(--rem-to-vw));
  margin-left: calc(0.1875 * var(--rem-to-vw));
  text-indent: -62.4375rem;
  cursor: pointer;
  background-color: #c5c5c5;
  border: 0;
  border-top: 0 solid transparent !important;
  border-bottom: 0 solid transparent !important;
  opacity: 0.5;
  transition: width 0.3s ease, opacity 0.3s ease;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

.carousel-indicators .active {
  width: calc(2.5 * var(--rem-to-vw));
  background-color: #46bfff;
  opacity: 1;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(0.3 * var(--rem-to-vh));
}

.slide-title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: black;
}

.slide-date {
  font-size: 1rem;
  font-weight: 300;
  color: black;
}

.slide-text {
  font-size: 1.1rem;
  font-weight: 300;
  color: black;
}

.cont {
  width: 90%;
  height: calc(23 * var(--rem-to-vh));
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin: calc(2 * var(--rem-to-vh)) auto;
}

.slide-image {
  width: calc(46.875 * var(--rem-to-vw));
  height: calc(21.875 * var(--rem-to-vh));
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25);
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.see-event-btn {
  width: calc(10 * var(--rem-to-vw));
  height: calc(2.8 * var(--rem-to-vh));
  font-weight: 500;
  padding-left: calc(0.75 * var(--rem-to-vw));
  padding-right: calc(0.75 * var(--rem-to-vw));
  margin-top: calc(0.6 * var(--rem-to-vh));
  border-radius: 0.4375rem !important;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25);
}

.club {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: calc(0.5 * var(--rem-to-vw));
  margin-top: calc(0.6 * var(--rem-to-vh));
  font-size: 1.3rem;
  font-weight: 700;
  border: 0;
  background: none;
}

.carousel .carousel-item {
  transition-duration: 0.3s !important;
}

.see-rankings-btn {
  width: calc(16 * var(--rem-to-vw));
  height: calc(4.5 * var(--rem-to-vh));
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: calc(0.75 * var(--rem-to-vw));
  padding-right: calc(0.75 * var(--rem-to-vw));
  margin-top: calc(0.6 * var(--rem-to-vh));
  border-radius: 0.4375rem !important;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25);
}

.rankings {
  width: 60%;
  margin-left: -5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(1 * var(--rem-to-vh));
}

.rankings-title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: black;
}

.events {
  margin-top: calc(2.5 * var(--rem-to-vh));
}

.rankings-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(3 * var(--rem-to-vh));
  margin-left: calc(2 * var(--rem-to-vw));
}

.tb {
  width: 100%;
  height: calc(20 * var(--rem-to-vh));
  border: 0.125rem solid #d5d5d5;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.2);
}

.tb table {
  width: 100%;
  height: 100%;
  margin-top: auto;
}

.tb table tr {
  border-bottom: calc(0.125 * var(--rem-to-vh)) solid #d5d5d5;
}

.tb table tr:last-child {
  border-bottom: none;
}

.tb table td {
  font-weight: 600;
  vertical-align: middle;
}

.tb table td:first-child {
  width: calc(4.5 * var(--rem-to-vw));
  font-size: 2.5rem;
  padding-left: calc(1.5 * var(--rem-to-vw));
}

.tb table td:nth-child(2) {
  font-size: 1.5rem;
}

.tb table td:last-child {
  width: calc(12 * var(--rem-to-vw));
  text-align: right;
  padding-right: calc(1 * var(--rem-to-vw));
  padding-top: calc(2.5 * var(--rem-to-vh));
}

.tb table td img {
  margin-right: calc(2.5 * var(--rem-to-vw));
  filter: drop-shadow(0 0 0.3125rem rgba(0, 0, 0, 0.25));
}

.cont2 {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.star {
  width: calc(1.625 * var(--rem-to-vw));
  height: calc(1.625 * var(--rem-to-vh));
  stroke-width: 1.5;
  stroke: #ffd700;
  fill: #ffd700;
  transform: translateY(-0.2rem);
  display: flex;

  &:last-of-type {
    margin-right: 0;
  }
}

.overlay {
  background-color: black;
  mix-blend-mode: color;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.rating {
  display: flex;
  gap: calc(0.5 * var(--rem-to-vw));
}

.cont4 {
  display: flex;
  flex-direction: column;
  position: relative;
  color: black !important;
  margin-top: calc(3 * var(--rem-to-vh)) !important;
  margin-left: calc(7 * var(--rem-to-vw)) !important;
  margin-right: calc(7 * var(--rem-to-vw)) !important;
}

.upcomings-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: black;
}

.upcomings {
  display: flex;
  color: black;
  flex-direction: column;
  gap: calc(0.3 * var(--rem-to-vh));
}

.see-more-upcomings {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
  margin-right: calc(0.6 * var(--rem-to-vw));
}

.see-more-upcomings span {
  cursor: pointer;
  user-select: none;
}

.up-event-card {
  width: 100%;
  height: calc(8.5 * var(--rem-to-vh));
  border: 0.125rem solid #d5d5d5;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.2);
}

.up-event-card-date {
  margin-left: calc(3 * var(--rem-to-vw));
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  line-height: 1;
}

.up-event-card-date .num {
  font-size: 2.5rem;
}

.up-event-card-date .mon {
  font-size: 2rem;
}

.up-event-card-title {
  width: calc(40 * var(--rem-to-vw));
  margin-left: calc(3 * var(--rem-to-vw));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(0.5 * var(--rem-to-vh));
  color: black;
  line-height: 1;
}

.up-event-card-title .title {
  width: 90%;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.up-event-card-title .date {
  width: 92%;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.up-event-card-banner {
  width: 34%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1.25rem 0 3.75rem 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.up-event-card-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont5 {
  margin-top: calc(2 * var(--rem-to-vh));
  margin-left: calc(6.5 * var(--rem-to-vw)) !important;
  margin-bottom: calc(5 * var(--rem-to-vh));
}

.calendar-img {
  width: 60%;
  height: calc(25.5 * var(--rem-to-vh));
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to left,
      #fff 30%,
      rgba(255, 255, 255, 0) 70%
    ),
    url("https://storage.googleapis.com/unihive-files/calendar.png");
  background-size: cover;
}

.try-calendar {
  display: flex;
  flex-direction: column;
  margin-left: calc(52 * var(--rem-to-vw));
  font-size: 4rem;
  font-weight: 700;
  color: black;
  text-wrap: nowrap;
}

.try-calendar-btn {
  width: calc(8 * var(--rem-to-vw));
  height: calc(3.5 * var(--rem-to-vh));
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: calc(0.5 * var(--rem-to-vw));
  padding-right: calc(0.5 * var(--rem-to-vw));
  margin-top: calc(1 * var(--rem-to-vh));
  margin-left: calc(15 * var(--rem-to-vw));
  border-radius: 0.4375rem !important;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25);
}

.footer {
  width: 100%;
  height: calc(15 * var(--rem-to-vh));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: calc(2 * var(--rem-to-vh));
  color: white;
  background-color: #186994;
}

.footer-about-contact {
  display: flex;
  gap: calc(2 * var(--rem-to-vw));
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(1 * var(--rem-to-vh));
  font-size: 1.2rem;
  font-weight: 500;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: calc(0.8 * var(--rem-to-vw));
}

.profile-dropdown {
  width: fit-content !important;
  min-width: calc(8 * var(--rem-to-vw)) !important;
  height: calc(2.5 * var(--rem-to-vh)) !important;
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  border-radius: 2.5rem !important;
  background-color: #46bfff;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  gap: calc(0.5 * var(--rem-to-vw)) !important;
  color: black !important;
  padding: 0 !important;
  font-weight: 500;
  border: 0 !important;
}

.profile-pic-small {
  width: calc(2.5 * var(--rem-to-vw));
  height: calc(2.5 * var(--rem-to-vh));
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

.profile-pic-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdown-toggle {
  background-color: #46bfff !important;
  color: white !important;
}

.dropdown-toggle:hover {
  background-color: #21b1ff !important;
  color: white !important;
}

.dropdown-toggle:active {
  background-color: #0eabff !important;
  color: white !important;
}

.dropdown-toggle::after {
  content: none !important;
}
.dropdown-menu {
  min-width: calc(8 * var(--rem-to-vw)) !important;
  border-radius: 0.5rem !important;
  border: 0.125rem solid #c5c5c5 !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  padding: 0 !important;
  padding-top: calc(0.3 * var(--rem-to-vh)) !important;
  padding-bottom: calc(0.3 * var(--rem-to-vh)) !important;
  overflow: hidden;
}

.dropdown-item {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  color: black;
}

.dropdown-item:active {
  background-color: #e0e0e0;
  color: black;
}

.load {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-fluid {
  width: 100%;
  height: calc(5.5 * var(--rem-to-vh));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-top: calc(1 * var(--rem-to-vh));
  margin-bottom: calc(1 * var(--rem-to-vh));
}

.line {
  width: 25%;
  height: calc(0.125 * var(--rem-to-vh));
  background-color: #c5c5c5;
}

.page-title {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  color: black;
  border: 0.15625rem solid #c5c5c5;
  border-radius: 2.2rem;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25);
}

.calendar {
  width: 100%;
  height: calc(30 * var(--rem-to-vh));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(1.5 * var(--rem-to-vw));
  padding-left: calc(2 * var(--rem-to-vw));
  padding-right: calc(2 * var(--rem-to-vw));
  margin-top: calc(1 * var(--rem-to-vh));
  margin-bottom: calc(1 * var(--rem-to-vh));
}

.google-auth {
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0.125rem solid #c5c5c5;
  border-radius: 1rem;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  color: black;
}

.google-auth-imgs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(1 * var(--rem-to-vw));
  margin-top: calc(2.5 * var(--rem-to-vh));
}

.collab-x {
  font-size: 2rem;
  font-weight: 500;
}

.google-auth-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-top: calc(3.5 * var(--rem-to-vh));
}

.google-auth-btn {
  width: calc(17 * var(--rem-to-vw));
  height: calc(2.8 * var(--rem-to-vh));
  font-size: 1rem;
  font-weight: 500;
  padding-left: calc(0.5 * var(--rem-to-vw));
  padding-right: calc(0.5 * var(--rem-to-vw));
  border-radius: 0.5rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  background-color: white !important;
  color: black !important;
  border: 0.125rem solid #c5c5c5 !important;
  margin-top: calc(3.5 * var(--rem-to-vh)) !important;
}

.google-auth-btn:hover {
  background-color: #f0f0f0 !important;
  border: 0.125rem solid #c5c5c5 !important;
  color: black !important;
}

.google-auth-btn:active {
  background-color: #e0e0e0 !important;
  border: 0.125rem solid #c5c5c5 !important;
  color: black !important;
}

.calendar-img2 {
  width: 62%;
  height: calc(30 * var(--rem-to-vh));
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://storage.googleapis.com/unihive-files/calendar.png");
  background-size: cover;
}

.calendar2 {
  width: 100%;
  height: calc(35 * var(--rem-to-vh));
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(1 * var(--rem-to-vh));
  margin-bottom: calc(1 * var(--rem-to-vh));
  padding: 0;
}

.calendar-body {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid #d5d5d5;
  border-radius: 2rem;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25);
}

.cal-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: calc(1 * var(--rem-to-vw));
  padding-left: calc(1 * var(--rem-to-vw));
  padding-right: calc(1 * var(--rem-to-vw));
}

.calendar-cards {
  width: 100%;
  height: calc(35 * var(--rem-to-vh));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: calc(0.5 * var(--rem-to-vh));
  padding-top: calc(2 * var(--rem-to-vh));
  padding-bottom: calc(2 * var(--rem-to-vh));
}

.calendar-cards-header {
  width: 100%;
  height: calc(3 * var(--rem-to-vh));
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.calendar-cards-header span {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  line-height: 1.8;
}

.add-event-btn {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.5rem !important;
  background-color: white !important;
  color: #46bfff !important;
  border: white;
}

.add-event-btn:hover {
  background-color: #f0f0f0 !important;
  color: #46bfff !important;
}

.add-event-btn:active {
  background-color: #e0e0e0 !important;
  color: #46bfff !important;
}

.calendar-cards-separator {
  width: 100%;
  height: calc(0.125 * var(--rem-to-vh));
  background-color: #d5d5d5;
}

.calendar-cards-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: calc(0.4 * var(--rem-to-vh));
  margin-top: calc(0.8 * var(--rem-to-vh));
  padding-right: calc(0.5 * var(--rem-to-vw));
  overflow-y: auto;
}

.calendar-cards-body-item {
  width: 100%;
  height: calc(3 * var(--rem-to-vh));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(3.5 * var(--rem-to-vh)) 1.5rem 3.5rem 1.5rem;
  border-radius: 1rem;
  background-color: #ededed;
  color: black;
  gap: calc(1.5 * var(--rem-to-vw));
  cursor: pointer;
  user-select: none;
}

.selected {
  background-color: #46bfff;
  color: white;
}

.calendar-cards-body-item-date {
  margin-left: calc(0.3 * var(--rem-to-vw));
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.calendar-cards-body-item-date .num {
  font-size: 1.65rem;
}

.calendar-cards-body-item-date .mon {
  font-size: 1.3rem;
}

.calendar-cards-body-item-separator {
  width: calc(0.125 * var(--rem-to-vw));
  height: calc(4 * var(--rem-to-vh));
}

.calendar-cards-body-item-desc {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(0.3 * var(--rem-to-vh));
}

.calendar-cards-body-item-desc .title {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2;
}

.calendar-cards-body-item-desc .date {
  font-size: 0.8rem;
  font-weight: 400;
}

.cal-sep {
  max-width: calc(0.125 * var(--rem-to-vw));
  min-width: calc(0.125 * var(--rem-to-vw));
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5d5d5;
  padding: 0 !important;
}

.cal-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(2 * var(--rem-to-vh));
  padding-bottom: calc(2 * var(--rem-to-vh));
}

.nothing-here {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.nothing-here2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  margin-top: calc(9.9 * var(--rem-to-vh));
}

.calendar-event {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(1 * var(--rem-to-vh));
}

.calendar-event-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  line-height: 1.2;
}

.calendar-event-details {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(0.4 * var(--rem-to-vh));
  line-height: 1.2;
  margin-bottom: calc(0.5 * var(--rem-to-vh));
}

.calendar-event-see {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(0.8 * var(--rem-to-vh));
}

.calendar-event-see span {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
}

.see-calendar-event-btn {
  width: calc(10 * var(--rem-to-vw));
  height: calc(2.8 * var(--rem-to-vh));
  font-weight: 500;
  padding-left: calc(0.75 * var(--rem-to-vw));
  padding-right: calc(0.75 * var(--rem-to-vw));
  border-radius: 0.5rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

.calendar-event-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(0.5 * var(--rem-to-vh));
}

.calendar-event-desc .my-desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-event-desc .my-desc span {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
}

.calendar-event-desc textarea {
  width: 100%;
  height: calc(8 * var(--rem-to-vh));
  padding: 0;
  border: 0;
  background-color: white;
  color: black;
  cursor: text;
  resize: none;
}

.calendar-event-desc textarea:focus {
  outline: none;
}

.calendar-event-desc textarea:disabled {
  background-color: white;
  color: black;
}

.logout-btn {
  border-radius: 50% !important;
  background-color: white !important;
  color: #ff2f2f !important;
  border: white;
  padding-left: calc(0.5 * var(--rem-to-vw)) !important;
  padding-right: calc(0.5 * var(--rem-to-vw)) !important;
}

.logout-btn:hover {
  background-color: #f0f0f0 !important;
  color: #ff2f2f !important;
}

.logout-btn:active {
  background-color: #e0e0e0 !important;
  color: #ff2f2f !important;
}

.calendar-addevent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: calc(1 * var(--rem-to-vh));
}

.calendar-addevent span {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.event-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(1 * var(--rem-to-vh));
  margin-top: calc(4 * var(--rem-to-vh));
}

.event-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.event-field label {
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
}

.event-field input {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  border: 0.125rem solid #d5d5d5;
  padding: calc(0.4 * var(--rem-to-vh)) 0.7rem 0.4rem 0.7rem;
  width: calc(22 * var(--rem-to-vw));
  height: calc(3 * var(--rem-to-vh));
}

.event-field input:focus {
  outline: none;
  border-color: #46bfff;
}

.event-field select {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  border: 0.125rem solid #d5d5d5;
  padding: calc(0.4 * var(--rem-to-vh)) 1.7rem 0.4rem 0.7rem;
  width: calc(22 * var(--rem-to-vw));
  height: 100%;
  background: url("data:image/svg+xml,<svg height='0.625rem' width='0.625rem' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  max-height: calc(6.25 * var(--rem-to-vh)) !important;
}

.event-field textarea {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  border: 0.125rem solid #d5d5d5;
  padding: calc(0.4 * var(--rem-to-vh)) 0.7rem 0.4rem 0.7rem;
  width: calc(22 * var(--rem-to-vw));
  min-height: calc(8 * var(--rem-to-vh));
  max-height: calc(8 * var(--rem-to-vh));
  resize: none;
}

.event-field textarea:focus {
  outline: none;
  border-color: #46bfff;
}

.add-event-save-btn {
  width: calc(10 * var(--rem-to-vw));
  height: calc(2.8 * var(--rem-to-vh));
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 0.3rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

.delete-event {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  justify-self: flex-end;
  align-self: flex-end;
  position: absolute;
  bottom: -9rem;
}

.delete-event-btn {
  border-radius: 50% !important;
  background-color: white !important;
  color: #ff2f2f !important;
  border: white;
  padding-left: calc(0.5 * var(--rem-to-vw)) !important;
  padding-right: calc(0.5 * var(--rem-to-vw)) !important;
}

.delete-event-btn:hover {
  background-color: #f0f0f0 !important;
  color: #ff2f2f !important;
}

.delete-event-btn:active {
  background-color: #e0e0e0 !important;
  color: #ff2f2f !important;
}

.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  line-height: 1;
}

.not-found-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(2 * var(--rem-to-vh));
}

.not-found .num {
  font-size: 10rem;
  font-weight: 700;
  line-height: 1;
}

.not-found .msg {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.go-home {
  width: calc(10 * var(--rem-to-vw));
  height: calc(3 * var(--rem-to-vh));
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.5rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
  margin-top: calc(2 * var(--rem-to-vh));
}

.contact-us {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(2 * var(--rem-to-vh));
}

.contact-us .title {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}

.contact-us .desc {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.contact-fields {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(1 * var(--rem-to-vh));
  margin-top: calc(1 * var(--rem-to-vh));
}

.contact-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-field label {
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
}

.contact-field input {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  border: 0.125rem solid #d5d5d5;
  padding: calc(0.4 * var(--rem-to-vh)) 0.7rem 0.4rem 0.7rem;
  width: 100%;
  height: calc(3 * var(--rem-to-vh));
}

.contact-field input:focus {
  outline: none;
  border-color: #46bfff;
}

.contact-field input:disabled {
  background-color: #d5d5d5;
  color: black;
}

.contact-field textarea {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.125rem 0 rgba(0, 0, 0, 0.25);
  border: 0.125rem solid #d5d5d5;
  padding: calc(0.4 * var(--rem-to-vh)) 0.7rem 0.4rem 0.7rem;
  width: 100%;
  min-height: calc(15 * var(--rem-to-vh));
  max-height: calc(15 * var(--rem-to-vh));
  resize: none;
}

.contact-field textarea:focus {
  outline: none;
  border-color: #46bfff;
}

.contact-field textarea:disabled {
  background-color: #d5d5d5;
  color: black;
}

.contact-submit-btn {
  width: 100%;
  height: calc(2.8 * var(--rem-to-vh));
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 0.3rem !important;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.25);
}

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(0.5 * var(--rem-to-vh));
  margin-bottom: calc(1 * var(--rem-to-vh));
}
